@import "~bootstrap/scss/bootstrap";

*, *:before, *:after {
  font-family: "TT Commons", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #0E1130;
  color: #ffffff;
  width: 100vw;
  min-height: 100vh;
}

body {
  padding: 50px;
}

#logo {
  max-width: 300px;
}
