@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/buttons";

*, *:before, *:after {
  font-family: "TT Commons", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #0E1130;
  color: #ffffff;
  width: 100vw;
  min-height: 100vh;
}

body {
  padding: 50px;
}

#logo {
  max-width: 25vw;
  margin-bottom: 1.5em;
}


